@import "tailwindcss";

/* body {
  font-family: 'Expletus Sans', sans-serif;
} */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}



